# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\KimHeeSu\Documents\senior_1semester\객체설계패턴\Lab 11. 템플릿메소드, 상태, 스트레티지\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
