# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\KimHeeSu\Documents\senior_1semester\객체설계패턴\Lab 10. 프로토타입, 메멘토\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
